
body {
    display: flex;
    background: rgb(196, 206, 216);

}
.wyniki {
    background: rgb(255, 255, 255);
    width: 60%;
    margin: 50px;
    padding: 15px;
}
.menu {
    margin: 50px;
    padding: 15px;
  
}
.menu > :not(:last-child) {
    margin-bottom: 40px;
}
